.main-container {
width: 200%;
max-width: 600px;
background-color: white;
border-radius: 16px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
padding: 2.5rem;
text-align: center;
position: relative;
margin-left: -4%;
margin-top: 6%;
}

.header-logo {
width: 150px;
margin-bottom: 1rem;
}

.checkmark-container {
position: absolute;
top: -40px;
left: 50%;
transform: translateX(-50%);
width: 80px;
height: 80px;
background-color: white;
border-radius: 50%;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
display: flex;
justify-content: center;
align-items: center;
}

.checkmark-icon {
width: 80px;
height: 80px;
color: #4CAF50; /* Green color for the tick */
}

h1 {
color: #7d4b87;
font-size: 1.8rem;
font-weight: 600;
margin-top: 2rem;
margin-bottom: 0.5rem;
}

/* p {
color: black;
font-size: 1rem;
margin-bottom: 2rem;
} */

.details-section {
display: flex;
flex-direction: column;
gap: 1.5rem;
}

.detail-item {
font-size: 1.1rem;
font-weight: bold;
color: #7d4b87;
}

.detail-item span {
display: block;
font-size: 0.9rem;
font-weight: normal;
color: black;
margin-top: 5px;
}

.continue-btn {
background-color: #7d4b87;
color: white;
border: none;
padding: 15px 30px;
border-radius: 8px;
font-size: 1.1rem;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s ease;
margin-top: 2.5rem;
width: 100%;
}

.continue-btn:hover {
background-color: white;
color: #7d4b87;
}


