<!-- <oj-bind-if test="[[ currentPage() === 'page1' ]]">
  <account-type 
    next-callback="[[nextPage]]">
  </account-type>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page2' ]]">
  <account-number 
    next-callback="[[nextPage]]" 
    back-callback="[[previousPage]]">
  </account-number>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page3' ]]">
  <input-username 
    next-callback="[[nextPage]]" 
    back-callback="[[previousPage]]">
  </input-username>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page4' ]]">
  <input-password 
    next-callback="[[nextPage]]" 
    back-callback="[[previousPage]]">
  </input-password>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page5' ]]">
  <terms-conditions 
    next-callback="[[nextPage]]" 
    back-callback="[[previousPage]]">
  </terms-conditions>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page6' ]]">
  <user-confirmation 
    back-callback="[[previousPage]]">
  </user-confirmation>
</oj-bind-if> -->

<oj-bind-if test="[[ currentPage() === 'page1' ]]">
  <account-type data-bind="cnic"></account-type>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page2' ]]">
  <account-number 
    data-bind="accountNumber">
  </account-number>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page3' ]]">
  <input-username></input-username>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page4' ]]">
  <input-password></input-password>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page5' ]]">
  <terms-conditions></terms-conditions>
</oj-bind-if>

<oj-bind-if test="[[ currentPage() === 'page6' ]]">
  <user-confirmation  
    data-bind="accountNumber"></user-confirmation>
</oj-bind-if>