/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   login-page .login-page-value-text {
   color: var(--login-page-value-text-color);
   display: inline-block;
	 }
*/

.main-container {
width: 200%;
max-width: 600px;
background-color: white;
border-radius: 16px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
padding: 2.5rem;
text-align: center;
position: absolute;
margin-left: -12%;
margin-top: 6%;
}
