<div class="container" data-bind="visible: currentPage() < 6">
  <ul class="stepper" data-bind="foreach: steps, visible: currentPage() < 6">
    <li
      class="step-item"
      data-bind="css: {
        'step-item-line': $parent.isStepCompleted(number)
      }"
    >
      <span
        class="step-circle"
        data-bind="css: {
          'step-active': $parent.isStepActive(number),
          'step-completed': $parent.isStepCompleted(number)
        }"
      >
        <span class="step-circle-content" data-bind="text: number"></span>
      </span>

      <!-- Step title with dynamic styling -->
      <span
        class="step-title"
        data-bind="css: {
          'title-active': $parent.isStepActive(number),
          'title-completed': $parent.isStepCompleted(number)
        }, text: title"
      ></span>
    </li>
  </ul>



    <oj-bind-if test="[[ currentPage() === 1 ]]">
      <account-type></account-type>
    </oj-bind-if>


    <oj-bind-if test="[[ currentPage() === 2 ]]">
      <account-number>
      </account-number>
    </oj-bind-if>
    
    <oj-bind-if test="[[ currentPage() === 3 ]]">
      <input-username></input-username>
    </oj-bind-if>
    
    <oj-bind-if test="[[ currentPage() === 4 ]]">
      <input-password></input-password>
    </oj-bind-if>
    
    <oj-bind-if test="[[ currentPage() === 5 ]]">
      <terms-conditions></terms-conditions>
    </oj-bind-if>
</div>
    <div class="confirmation">
      <oj-bind-if test="[[ currentPage() === 6 ]]">
        <user-confirmation></user-confirmation>
      </oj-bind-if>
    </div>

<oj-bind-if test="[[ currentPage() === 7 ]]">
  <login-page></login-page>
</oj-bind-if>